#aboutSectionHome p {
  font-size: 20px;
  /* font-family: sans-serif; */
  color: #000;
}

#aboutSectionHome .container {
  padding: 100px 30px;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
}

div#main-about-div {
    background: rgb(245, 248, 250);
    width: 70%;
    margin: 0 auto;
    margin-top: 4em;
}
div#main-about-div .content {
  text-align: center;
  padding: 2em 6em;
}
div#main-about-div .image-content {
  text-align: center;
    margin-bottom: 4em;
    padding-bottom: 4em;
}
div#main-about-div .image-content img {
  width: 25%;
    text-align: center;
    margin: 0 auto;
}
div#main-about-div a {
  color: rgb(0, 206, 209);
}

@media only screen and (max-width: 1050px) {
  div#main-about-div .content {
    padding: 2em 3em;
  }
  div#main-about-div .image-content img {
    width: 70%;
  }
}
@media only screen and (max-width: 600px) {
  div#main-about-div {
      margin-top: 1em;
  }
  div#main-about-div .content {
    padding: 2em 1em;
  }
  div#main-about-div .image-content img {
    width: 90%;
  }
  div#main-about-div .image-content {
    padding-bottom: 3em;
    margin-bottom: 1em;
  }
  div#main-about-div {
    width: 90%;
  }
  #aboutSectionHome p {
    font-size: 16px;
  }
}
