.home-page-portfolio-container {
  display: flex;
  justify-content: space-around;
  background: rgb(0, 206, 209);
  padding: 4em 1em;
  text-align: center;
}
.single-portfolio-item img {
  max-width: 30vw;
}
.single-portfolio-item img:hover {
  background-color: #000;
  opacity: 0.8;
}
@media only screen and (max-width: 850px) {
  .home-page-portfolio-container {
    flex-direction: column;
  }
  .single-portfolio-item img {
    max-width: 90vw;
  }
}
@media only screen and (max-width: 600px) {
  .home-page-portfolio-container {
    padding: 1em;
  }
}
